<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <fieldset>
    <legend>New Employee</legend>
    <div>
      <span>First Name : </span><span><input class="" type="text" [(ngModel)]="firstName"></span>
    </div>
    <div>
      <span>Last Name : </span><span><input type="text" [(ngModel)]="lastName"></span>
    </div>
    <div>
      <span>Department : </span><span><input type="text" [(ngModel)]="department"></span>
    </div>
    <div>
      <span>Phone Number : </span><span><input type="text" [(ngModel)]="phoneNumber"></span>
    </div>
    <div><button (click) = "addNewEmployee()">Add</button></div>
  </fieldset>
  <fieldset>
    <legend>Search:</legend>
    <div>
      <span>First Name : </span><span><input type="text" [(ngModel)]="firstNameSearch"></span>
    </div>
    <div>
      <span>Last Name : </span><span><input type="text" [(ngModel)]="lastNameSearch"></span>
    </div>
    <div>
      <span>Department : </span><span><input type="text" [(ngModel)]="departmentSearch"></span>
    </div>
    <div><button (click) = "searchEmployee()">Search</button><button (click) = "cancelSearch()">Cancel</button></div>
  </fieldset>
  <h3>Total number of employees : {{count}}</h3>
  <table>
    <tr>
      <th *ngFor='let header of addressBookHeaders'>{{header}}</th>
    </tr>
    <tr *ngFor="let employee of addressBook; let i = index">
      <td>{{employee.firstName}}</td>
      <td>{{employee.lastName}}</td>
      <td>{{employee.department}}</td>
      <td>{{employee.phoneNumber}}</td>
      <td><button (click) = "deleteEmployee(employee.id, i)">Delete</button></td>
    </tr>
  </table>
</div>

